.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}
.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 30px;
  line-height: 110%;
  text-align: center;
  color: #201b10;
}
